<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ title | title }}</title>
    {% endblock %}
    {% block css %}
<!--        <link rel="stylesheet" href="static/css/style.css">-->
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block header %}
            <h1>{{ title|title }}</h1>
            <nav class="menu">
                <a href="/" class="menu-link">Главная</a>
                <a href="/requests/" class="menu-link">Тест запросов</a>
                <a href="/contacts/" class="menu-link">Контакты</a>
                <a href="/about/" class="menu-link">О сайте</a>
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        {% block footer %}
            <h4>переходов: {{count}}</h4>
            Valion &copy; 2020
        {% endblock %}
    </div>
</body>
</html>